// ___COLORS___
$bg-light: #ABD1B5;
$bg-form-light: rgba(121, 183, 145, 1);

// colors for buttons
$bg-btn-light: #EDF4ED;
$color-text-btn: #514D4D;

$color-text-light: #FFFCFC;
$bg-dropdown: #48645E;
$color-line: rgba(201, 201, 201, 1);